.masthead {
	text-align: center;
	min-height: 30rem;
	position: relative;
	width: 100%;
	min-height: 100vh;
  	height: auto;
	padding-top: 8rem;
	padding-bottom: 8rem;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background: url(/img/bg_home.png);
	background-position: top left;
	background-repeat: no-repeat;
	overflow: hidden;
}
.masthead .title {
	color: #7f8080;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 40%;
	left: 150px;
}
.title h1 {
	font-size: 4rem;
	padding-bottom: .5rem;
}
.title .quote {
	color: #7f8080;
	font-size: 1.75rem;
	font-style: italic;
	font-weight: normal;
}
.title .quote span {
	font-family: inherit;
	display: block;
	padding-top: .25rem;
	font-size: 1rem;
}
.navigation {
	margin: 0 auto;
	font-family: "Raleway", sans-serif;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: bold;
}
.navigation .item {
	position:absolute;
}
/* navigation items */
.item.bsha {
	top:125px;
	left:110px;
}
.item.jslay {
	top:50px;
	left:360px;
}
.item.none {
	top:90px;
	left:625px;
}
.item.none {
	top:230px;
	left:835px;
}
.item.none {
	top:420px;
	left:950px;
}
.item .circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 52px;
	height: 52px;
	opacity: 0;
}
.item .icon {
	width: 52px;
	height: 52px;
	position:absolute;
	top: 0;
	left: 0;
	text-align: left;
	cursor: pointer;
	border-radius: 50%;
}
.item:first-child .icon {
	background: #fff url(/img/logo-bs.png) no-repeat 70% 100%;
	background-size: 48px;
}
.item:nth-child(2) .icon {
	background: #fff url(/img/logo-jsfl.png) no-repeat 50% 0;
	background-size: 48px;
}
.item h5 {
	position: absolute;
	white-space: nowrap;
	color: #7f8080;
	font-size: 1rem;
	font-weight: 600;
	top: -10px;
	left: 60px;
	text-transform: uppercase;
}
.item h5.active {
	color: #fff;
	text-shadow: 0px 1px 2px rgba(62,57,107,0.4);
}
.item ul {
	list-style: none;
	position: absolute;
	top: 60px;
	left: 27px;
	display: none;
	text-align: left;
}
.item ul li a {
	font-size: 0.825em;
	text-transform: uppercase;
	color: #fafafa;
	padding: 3px;
}
.item ul li a:hover {
	color: #fff;
}
.copy {
	position: absolute;
	bottom: 5px;
	right: 110px;
	text-align: right;
	color: #7f8080;
}
.git_octo {
	position: absolute;
	bottom: 5px;
	right: 20px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: .5;
}
.git_octo:hover {
	opacity: 1;
}
@media (max-width: 800px) {
	.title h1 {
		font-size: 3rem;
	}
	.title .quote {
		font-size: 1rem;
	}
}
