* {
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

body {
  background: #e5ebf2;
  padding: 0;
  margin: 0;
  font-family: Raleway, Arial, Helvetica Neue, sans-serif;
  font-size: 62.5%;
  overflow: hidden
}

a {
  text-decoration: none
}

.item h5,
.item ul li a {
  text-transform: uppercase
}

.masthead {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin: 0;
  font-family: Raleway, sans-serif
}

.copy,
.git_octo,
.item h5,
.item ul,
.masthead .title,
.navigation .item {
  position: absolute
}

.masthead .title {
  top: 40%;
  left: 150px;
  margin: 0;
  padding: 0;
  color: white;
  text-align: left
}

.title h1 {
  font: 700 6vw/1em Verdana, Raleway, sans-serif;
  letter-spacing: 1.2px;
  padding-bottom: .5rem;
  text-shadow: -1px 4px 10px rgba(0, 0, 0, .2)
}

.title .quote {
  color: white;
  font: italic 400 2vw/1em Raleray, sans-serif;
  text-shadow: -1px 4px 10px rgba(0, 0, 0, .2)
}

.title .quote span {
  font-family: inherit;
  display: block;
  padding-top: .25rem;
  font-size: 1rem
}

.navigation {
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700
}

.item .icon {
  background-color: white;
  background-size: 48px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08), 0 5px 20px rgba(0, 0, 0, 0.08);
  cursor: pointer
}

.item.bsha {
  top: 190px;
  left: 110px
}

.item.bsha .icon {
  background-image: url(/img/logo-bss.png)
}

.item.jslay {
  top: 80px;
  left: 320px
}

.item.jslay .icon {
  background-image: url(/img/logo-jsfl.png)
}

.item.device {
  top: 85px;
  left: 570px
}

.item.device .icon {
  background-image: url(/favicon.ico)
}
/*
.item.none {
  top: 420px;
  left: 950px
}
*/
.item .circle,
.item .icon {
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  position: absolute
}

.item .circle {
  opacity: 0
}

.item h5 {
  white-space: nowrap;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  top: -10px;
  left: 60px;
  ;
  text-shadow: -1px 4px 10px rgba(0, 0, 0, .2)
}

.item h5.active {
  color: #F2F2F2;
  text-shadow: -1px 15px 29px rgba(0, 0, 0, .07)
}

.item ul {
  list-style: none;
  top: 60px;
  left: 27px;
  display: none;
  text-align: left
}

.item ul li a {
  font-size: .825em;
  color: #fafafa;
  padding: 3px
}

.item ul li a:hover {
  color: white
}

.copy {
  bottom: 5px;
  right: 110px;
  text-align: right;
  color: #7f8080
}

.git_octo {
  height: 50px;
  bottom: 5px;
  right: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: .3s ease-in-out;
  opacity: .3
}

.git_octo:hover {
  opacity: 1
}

.bg_svg {
  position: absolute
}

.bg_svg circle {
  fill: none;
  stroke: url(#gradient1);
  stroke-width: 70;
  animation: rotation 10s linear infinite;
  transform-origin: 250px 600px;
}

@keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width:800px) {
  .title h1 {
    font-size: 3rem
  }
  .title .quote {
    font-size: 1rem
  }
}

@media (max-width:768px) {
  .navigation .item {
    left: 30px !important
  }
  .masthead .title {
    left: 0 !important;
    right: 0 !important;
    margin: 0 2% !important;
    text-align: center
  }
  .item:hover {
    z-index: 1
  }
  .item.jslay {
    top: 10px
  }
  .item.auth {
    top: 100px
  }
}
