.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed #eee;
  z-index: 99;
}
.tooltip:focus {
  outline: none;
}
.tooltip:after {
  position: absolute;
  content: attr(data-tool);
  bottom: 0;
  left: 20%;
  display: block;
  min-width: 100px;
  width: auto;
  height: auto;
  padding: 0.5em;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.85);
  visibility: hidden;
  opacity: 0;
  word-break: break-word;
  word-wrap: word-wrap;
  text-overflow: ellipsis;
  
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}
.tooltip:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: rgba(0,0,0,0.85) transparent transparent transparent;
  visibility: hidden;
  opacity: 0;
}
.tooltip:hover:before {
  visibility: visible; 
  opacity: 1; 
  bottom: 14px;
}
.tooltip:hover:after {
  visibility: visible; 
  opacity: 1; 
  bottom: 20px;
}
.tooltip.toani:after, 
.tooltip.toani:before {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* tips on bottom */
.tooltip.bottom:before {
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent rgba(0,0,0,0.85) transparent;
  top: 0;
}
.tooltip.bottom:after {
  top: 0;
  bottom: auto; 
}
.tooltip.bottom:hover:before {
  top: 20px;
}
.tooltip.bottom:hover:after {
  top: 26px;
}
/* tips on the right */
.tooltip.right:before {
  border-width: 6px 6px 6px 0;
  border-color: transparent rgba(0,0,0,0.85) transparent transparent;
  right: 10%;
  bottom: 2%;
}
.tooltip.right:after {
  right: 10%;
  bottom: -45%;
}
.tooltip.right:hover:before {
  left: 100%;
  bottom: 2%;
}
.tooltip.right:hover:after {
  left: calc(100% + 6px);
  bottom: -45%;
}
/* tips on the left */
.tooltip.left:after {
  left: auto;
  right: 90%;
  bottom: -45%;
}
.tooltip.left:hover:after {
  right: 110%; 
  bottom: -45%;
}
.tooltip.left:before {
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent rgba(0,0,0,0.85);
  left: auto;
  right: 100%;
  bottom: 2%;
}
.tooltip.left:hover:before {
  right: calc(100% + 3px);
  bottom: 2%;
}
