/* Demos styles */
.blocks,
.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  counter-reset: figures;
}
.block {
  background-color: white;
  color: rgb(81, 204, 226);
  padding: 5px;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: #47c9e5;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 4rem;
}
.flex .block {
    counter-increment: figures;
}
.flex .block:before {
    content: 'bShadow-' counter(figures) ;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  height: 80px;
}
.bshadow-logo {
  display: flex;
  flex-wrap: wrap;
  align-content:center;
  padding: .5rem 1.5rem;
}
.bshadow-logo svg {
  border-radius: 8px;
  margin-right: 10px;
}
.bshadow-logo span {
  font-size: 3rem;
  color: #47c9e5;
  font-family: 'Raleway';
}
.github-logo:hover .arm {
  animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave{ 
  0%,100%{transform:rotate(0)}
  20%,60%{transform:rotate(-25deg)}
  40%,80%{transform:rotate(10deg)}
}
@media (max-width:500px){
  .github-logo:hover .arm {
    animation:none;
  }
}
