.en :lang(ru),
.ru :lang(en) {
  display: none;
}
body {
  font-family: 'Comfortaa', sans-serif;
}
.gen_container input[type=range]::-webkit-slider-thumb,
.lang-switcher img,
.changes button,
.btn-save,
.dclose,
 summary {
  cursor: pointer;
}
.flex .block,
.drag_obj {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.changes input:focus,
.changes button:focus,
input.filename:focus,
.btn-save:focus,
summary:focus,
.gen_container input[type=range]:focus,
.dclose:focus {
  outline: none;
}
body,
#content {
  -webkit-transition: background 2s ease;
  -moz-transition: background 2s ease;
  transition: background 2s ease;
}
.card__content,
.changes input,
.changes button,
.btn-save,
.save,
.vnavbar .dot {
  -webkit-border-radius: var(--primary-radius);
  -moz-border-radius: var(--primary-radius);
  border-radius: var(--primary-radius);
}
.bg_svg {
  background-color: transparent;
  background-image:
    url(/img/bg-svg.svg), 
    url(/img/bg-right.svg),
    url(/img/bg-left.svg);
  background-position: 0 0, 100% 80%, 0% 98%;
  background-repeat: no-repeat;
  background-size: 120%, 25%, 25%;
}
.human {
  background-image: url(/img/bg_human.svg);
  background-repeat: no-repeat;
  background-position: 95% 0;
}
.card__content {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 60px auto 40px;
  padding: 30px 20px 10px;
  background-color: #fff;
}
.card__caption {
  font-size: 2em;
  max-width: 800px;
  margin: 0 auto;
  padding: 35px 30px 10px;
}
summary {
  border-bottom: 1px dotted #e1e4e8;
}
.content-wrap .sp_button {
  display: inline-block;
  color: #3b393d;
}
.blocks,
.flex {
  position: relative;
  display: block;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  counter-reset: figures;
}
.between {
  justify-content: space-between;
}
.block {
  position: relative;
  background-color: white;
  color: rgb(81, 204, 226);
  width: 200px;
  height: 200px;
  line-height: 200px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  margin: 40px 60px;
}
.flex .block {
  counter-increment: figures;
}
.flex .block:before {
  content: 'bShadow-' counter(figures);
}
.changes {
  color: #e4e7e9;
  margin: .5em;
  text-align: center;
}
.changes h3 {
  color: #3b393d;
  font-weight: 300;
  margin-bottom: 7px;
}
.changes input,
.changes button,
.btn-save,
.dclose,
.save {
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #c4c2c2;
  color: #c4c2c2;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: .2em;
  margin-bottom: .2em;
  padding: .375rem .75rem;
}
.btn-save {
  margin-left: .25em;
}
.save,
.btn-save {
  background: linear-gradient(73deg, #8ec5fc, var(--primary-color));
  color: #fff;
}
.save,
.btn-save,
.dclose {
  border-color: transparent;
}
.dclose {
  position: relative;
  padding-left: 20px;
}
.dclose:before {
  content: "▲";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  transform: rotate(-90deg);
}
[open] + p .dclose {
  color: #3b393d;
}
[open] + p .dclose:before {
  transform: rotate(0deg);
}
input.filename {
  text-align: right;
  background: transparent;
  border: 0;
  pointer-events: none;
  font-size: 1.25rem;
  font-family: 'Nunito', 'Comfortaa', sans-serif;
}
#text-options {
  margin-top: .6em;
  margin-bottom: .6em;
}
.result-des {
  position: relative;
  padding: 0;
  width: 96%;
  display: block;
  -webkit-border-radius: var(--primary-radius);
  -moz-border-radius: var(--primary-radius);
  border-radius: var(--primary-radius);
  border: 1px solid #dedede;
  overflow-x: hidden;
}
.result-des::before {
  display: block;
  content: 'CSS';
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  right: 0;
  color: #032f62;
  font: bold 12px/23px 'Nunito', sans-serif;
  padding: 0px 10px;
  z-index: 10;
}
textarea.result {
  position: relative;
  display: block;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  width: 100%;
  min-height: 210px;
  padding: 5px;
  padding-top: 25px;
  height: auto;
  resize: vertical;
}
.add__content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0 20px;
}
.bshadow-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: .5rem 1.5rem;
}
.bshadow-logo svg {
  background: white;
  border-radius: 8px;
  margin-right: 10px;
}
.card__title {
  font-size: 3rem;
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  margin: 5px 0 0 0;
}
.card__subtitle {
  font-size: .875em;
  line-height: 1;
  margin: 5px 0 0;
  color: #777778;
}
.card__copy {
  font-size: 16px;  /* 1.25em */
  max-width: 900px;
  margin: 0 auto;
  padding: 15px 30px 100px;
  color: #3b393d;
}
.card__copy p.first {
  font-size: 19px;  /*  1.5em */
}
.block-select {
  outline: none;
  border: 1px solid #dedede;
  border-radius: 3px;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  width: 96%;
  margin: 1em;
}
.meta {
  font-size: .85em;
  display: -webkit-flex;
  display: flex;
  padding: 0 0 35px 0;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.meta__author {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.meta__avatar {
  max-width: 62px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.meta__author_name {
  color: #1395ba;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1.3px;
  line-height: 1.5;
  text-transform: uppercase;
  padding-left: 15px;
}
.meta__author_name span {
  display: block;
  color: rgba(75, 79, 81, 0.64);
  font-size: 13px;
  line-height: 1.3em;
  font-weight: 400;
  text-transform: none;
}
.meta__files {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgba(75, 79, 81, 0.64);
}
.meta__date,
.meta__version {
  position: relative;
  margin: 0 0 0 auto;
}
.see__example {
  padding-bottom: 20px;
}
.share {
  justify-content: flex-end;
}
.share strong {
  margin-right: .5em;
}
.github-logo:hover .arm {
  animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}
.meta__author_name span,
.more {
  font-size: .825em;
}
.btn-download {
  position: relative;
  display: inline-block;
  padding: 0.75em 1.752em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  margin: 0 15px 10px;
  color: #fff;
  background: linear-gradient(73deg, #8ec5fc, var(--primary-color));
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: all .3s ease-out;
}
.btn-download:hover {
  transform: scale(1.2);
}
.logos {
  position: relative;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.logos::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.logos img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: .25s ease-in-out;
  margin-right: 15px;
}
.logos img:last-child {
  margin-right: 0;
}
.logos img:hover {
  filter: none;
}
.gen_container {
  padding: 10px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}
.gen_table {
  min-width: 30%;
  font-size: 16px !important;
}
.gen {
  display: inline-block;
  font-weight: bold;
  color: var(--primary-color);
  min-width: 30px;
  text-align: center;
}
.gen_selector {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  overflow-x: hidden;
}
.gen_result {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  min-height: 500px;
  overflow-x: hidden;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  background-image: url(/img/designer.png);
  background-repeat: no-repeat;
  background-position: 0 90%;
}
textarea#g_result {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  min-width: 320px;
  min-height: 190px;
  height: 200px;
  padding: 5px;
  border: 0;
  margin: 90px auto 20px;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
  -ms-user-select: all;
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}
.drag_obj {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border: 2px dashed transparent;
  padding: 10px 15px;
}
.drag_obj:hover {
  border: 2px dashed gray;
}
.drag_obj:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.gen_container input[type=range] {
  margin: 0;
  padding: 0;
  display: inline-block;
  -webkit-appearance: none;
  background: transparent;
  border: 3px dashed #eee;
  height: 0;
  margin-bottom: 15px;
}
.gen_container input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--primary-color);
  z-index: 20;
  -webkit-appearance: none;
  position: relative;
}
.uscl-up-arrow {
  border-radius: var(--primary-radius) !important;
  background: rgb(71, 201, 229) !important;
  z-index: 99 !important;
}
.uscl-up-arrow:hover {
  background: rgb(0, 174, 255) !important;
}
.uscl-list .uscl-item .ico_uscl_soc {
  transition: all .25s ease;
  will-change: transform;
}
.uscl-list .uscl-item .ico_uscl_soc:hover {
  transform: translateY(-6px);
}
.issues_container {
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}
#add_issue {
  width: 32px;
  height: 32px;
  cursor: pointer;
  fill: #ddd;  
  margin-left: 5px;
}
#add_issue:hover {
  fill: #999;
}
.footer {
  display: block;
  width: 96%;
  max-width: 720px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 2px solid var(--primary-color);
  margin: auto;
}
.content-arrow-left::after,
.content-arrow-right::after {
  display: none;
}
.pr-3 {
  padding-right: 1rem !important;
}
.pl-3 {
  padding-left: 1rem !important;
}
.op0 {
  opacity: 0;
}
.alg {
  color: #1395ba;
  font-size: 2rem !important;
  font-weight: 600;
  line-height: 1;
}
.vnavbar {
  display: none;
}
@media (min-width: 1199px) {
  .vnavbar {
    position: absolute;
    right: 0;
    display: block;
  }
  .vnavbar nav {
    width: 100px;
    height: 200px;
    padding: 0 0px;
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    z-index: 99;
    text-align: right;
  }
  .vnavbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .vnavbar .dot {
    display: inline-block;
    width: 30px;
    height: 8px;
    background-color: var(--primary-color);
    content: '';
    color: transparent;
    vertical-align: middle;
    margin: 5px 0;
    font-weight: 300;
    line-height: 1.5;
    transition: all .3s ease-in-out;
  }
  .vnavbar .dot:hover {
    background-color: #1395ba;
    width: 35px;
  }
  .vnavbar .dot.active {
    background-color: #3369E7;
    width: 40px;
  }
  .vnavbar .dot span {
    position: relative;
    top: 0;
    left: -170px;
    display: block;
    width: 150px;
    margin: 0;
    margin-top: -7px;
    text-align: right;
    color: #eaeaea;
    white-space: nowrap;
  }
  .vnavbar .dot:hover span {
    color: #1395ba;
  }
  .vnavbar .dot.active span {
    color: #3369E7;
  }
}
@media (min-width: 992px) {
  .content-arrow-left::after,
  .content-arrow-right::after {
    position: absolute;
    content: '';
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url(/box-shadows/img/arrow.png);
    width: 78px;
    height: 76px;
  }
  .content-arrow-left::after {
    left: -100px;
    -webkit-transform: scale(1, -1) rotate(-75deg);
    -moz-transform: scale(1, -1) rotate(-75deg);
    -o-transform: scale(1, -1) rotate(-75deg);
    transform: scale(1, -1) rotate(-75deg);
  }
  .content-arrow-right::after {
    right: -100px;
    -webkit-transform: scale(-1, -1) rotate(-75deg);
    -moz-transform: scale(-1, -1) rotate(-75deg);
    -o-transform: scale(-1, -1) rotate(-75deg);
    transform: scale(-1, -1) rotate(-75deg);
  }
}
@media (max-width: 991px) {
  .card__content {
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
body {
  font-family: 'Nunito', sans-serif;
}
  .bg_svg {
    background: none;
  }
  .bshadow-logo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .bshadow-logo svg {
    width: 86px;
    height: 86px;
    border-radius: 16px;
  }
  .card__title {
    font-size: 2rem;
    margin: 1em auto .5em;
  }
  .content-arrow-left::after .content-arrow-right::after {
    display: none;
  }
  .gen_selector {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
}
@media (max-width: 480px) {
  .github-logo:hover .arm {
    animation: none;
  }
  .block {
    width: 130px;
    height: 130px;
    margin: auto;
    margin-bottom: 2rem !important;
    font-size: 1rem;
  }
  .card__caption {
    font-size: 1.25em;
    padding: 35px 0px 0px;
  }
  .meta {
    padding: 0 0 25px 0;
  }
  .card__copy {
    font-size: 90%;
    padding: 25px 0px 100px;
  }
}
@media (max-width: 420px) {
  .blocks,.flex {
    justify-content: flex-start;
  }
  .gen_table td:nth-child(2) {
    display: none;
  }
}
